docker-compose/

web/database.db
web/client_secrets.json
web/__pycache__/*
web/__pycache__


coupon/config.ini
coupon/__pycache__/
coupon/test_data.json


.env
docker-compose.yaml
docker-compose-static.yaml
client_secrets.json



coupon.db

