<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    Veckans ra:
    <br />
    Sista inlämning: {{ info[0]['regclosetime'] }}
    <table>
        <thead>
            <th>Matchnummer</th><th>Hemmalag</th><th></th><th>Bortalag</th>
        </thead>
        {% for i in info %}
        <tr>
            <td>{{ i['matchnumber']}}</td><td>{{ i['hometeam'] }}</td><td> - </td><td>{{ i['awayteam'] }}</td>
        </tr>    
        {% endfor%}
    </table>

       
f

    <a href="{{url_for('logout')}}">Logout</a>
</body>
</html>