<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <a href={{url_for('login')}}>Login</a>
    <br>
    <br>
    <a href={{url_for('home')}}>Home</a>
    <p>här kan en registrera sig serru, då kan en logga inasdf asdf asdf asdf asdf asdf asd fasdfasdfasdfas dfasd fasd fasdf asdf asdfasdf  sen serru.</p>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>
</body>
</html>